{% extends '_base.html' %}

{% block title %}
Books Detail
{% endblock title %}

{% block content %}
<h1>{{book.title}}</h1>
<p>{{book.content}}</p>
<p>{{book.author}}</p>
<h4>{{book.price}}</h4>
<a href="{% url 'book_update' book.id %}"><button type="button" class="btn btn-primary">Edit</button></a>
<a href="{% url 'book_delete' book.id %}"><button type="button" class="btn btn-danger">Delete</button></a>

<br>
<a href="{% url 'book_list' %}"><button class="btn btn-primary mt-3" >Book Store</button></a>

{% endblock content %}